:root{
    font-size: 18px;
}

body{
        margin:0;
        padding:0;
}

body{
    background-color: cadetblue;
    font-family: 'Metal Mania', cursive;
    
}

header h1{
    
}


h1, h2, h3, h4, h5, h6{
      font: family "Ununtu", san-serif;
}
header{
    margin: 10px;
    border: solid  2px blue;
    padding: 10px;
}

main{
    display: flex;
 }
maim img{
    height: 300px;
}


nav ul { 
    list-style: none;
}

nav il{
    margin: 10px;
    padding: 5px;
    border: 1px solid blue;
}

#content{
    margin: 10px;
    border: solid 
}

#counterBox{
 width: 50%
    
}
.counterBtn{
     border-radius: 5px;
     background-color: lightblue;
     font-weight bold;
}

